@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: rgb(1, 78, 86);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 73px 0 0 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.nav__link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  transition: all 0.3s linear;
}
.nav__link:hover {
  color: rgb(246, 126, 126);
}

.header__contact-us-link {
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__contact-us-link:hover {
  background-color: white;
  color: rgb(1, 78, 86);
}

.header__btn-hmb {
  display: none;
  border: none;
  background-color: transparent;
}

.header__modal-outer {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 50;
  transition: all 0.3s linear;
}

.modal__inner {
  position: fixed;
  padding: 56px 25px 0 48px;
  z-index: 51;
  right: 0;
  width: 65%;
  height: 100vh;
  background-color: #2C6269;
  background-image: url(../images/modal-bgimage.png);
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
}

.modal__close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
}

.show-outer {
  right: 0;
}

.show-inner {
  right: 0;
}

.scrol-hidden {
  overflow-y: hidden;
}

.modal__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 36px;
}

.modal__link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  transition: all 0.3s linear;
}
.modal__link:hover {
  color: rgb(246, 126, 126);
}

.modal__contact-link {
  display: inline-block;
  width: 159px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.modal__contact-link:hover {
  background-color: white;
  color: rgb(1, 78, 86);
}

@media only screen and (max-width: 800px) {
  .site-header {
    padding: 64px 0 0;
  }
  .header__logo-img {
    width: 127px;
    height: 32px;
  }
  .header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
}
@media only screen and (max-width: 600px) {
  .nav__list {
    display: none;
  }
  .header__contact-us-link {
    display: none;
  }
  .header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .header__btn-hmb {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
}
.hero-section {
  padding-top: 129px;
  background-image: url(../../images/background-img-hero.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 741px) top;
}

.hero {
  padding-bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-image: url(../images/hero-btmbg.png);
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: right bottom;
}

.hero__title-wrapper {
  max-width: 510px;
}

.hero__title {
  margin-bottom: 0px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: white;
}

.hero__title--span {
  color: rgb(246, 126, 126);
}

.hero__text-wrapper {
  max-width: 449px;
}

.hero__text-line {
  display: inline-block;
  margin-bottom: 79px;
  width: 50px;
  height: 4px;
  background-color: rgb(121, 200, 199);
}

.hero__text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

@media only screen and (max-width: 900px) {
  .hero-section {
    padding-top: 122px;
  }
  .hero {
    background-size: 100%;
    padding-bottom: 256px;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    background-position: bottom center;
  }
  .hero__title {
    margin-bottom: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  .hero__title--span {
    color: rgb(246, 126, 126);
  }
  .hero__text-line {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .hero-section {
    padding-top: 80px;
  }
  .hero {
    padding-bottom: 197px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
  }
  .hero__title {
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
  }
  .hero__title--span {
    color: rgb(246, 126, 126);
  }
  .hero__text-line {
    display: none;
  }
  .hero__text {
    margin-bottom: 0px;
    font-size: 15x;
    font-weight: 600;
    line-height: 28px;
    color: white;
  }
}
.scetion__build {
  padding: 140px 0;
  background-color: rgb(1, 47, 52);
  background-image: url(../images/build-bg.png);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: bottom right;
}

.build {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.build__title-wrapper {
  max-width: 445px;
}

.build__title-line {
  display: inline-block;
  margin-bottom: 54px;
  width: 50px;
  height: 4px;
  background-color: rgb(246, 126, 126);
}

.build__title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
}

.build__list {
  padding-top: 58px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
}

.build__item {
  max-width: 540px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 23px;
}

.build__item-img {
  display: block;
}

.build__subtitle {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(246, 126, 126);
}

.build__subtext {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .scetion__build {
    background-position: top right;
  }
}
@media only screen and (max-width: 950px) {
  .scetion__build {
    padding: 100px 0;
  }
  .build {
    display: grid;
    place-content: center;
    flex-direction: column;
  }
  .build__title-wrapper {
    width: 100%;
  }
  .build__title-line {
    margin-bottom: 32px;
  }
  .build__title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .build__list {
    padding-top: 64px;
  }
  .build__item {
    max-width: 573px;
  }
}
@media only screen and (max-width: 600px) {
  .scetion__build {
    padding: 64px 0;
  }
  .build {
    display: grid;
    place-content: center;
    flex-direction: column;
  }
  .build__title-wrapper {
    max-width: 240px;
  }
  .build__list {
    padding-top: 56px;
    gap: 48px;
  }
  .build__item {
    flex-direction: column;
    text-align: center;
  }
  .build__subtitle {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(246, 126, 126);
  }
}
.deliver-section {
  padding: 140px 0;
  background-image: url(../images/deliver-top-bg.png), url(../images/deliver-btm-img.png);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: top left, right bottom;
}

.deliver__title-wrapper {
  max-width: 945px;
  margin: 0 auto;
}

.deliver__title {
  margin-bottom: 56px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  text-align: center;
}

.deliver__title--span {
  color: rgb(121, 200, 199);
}

.deliver__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.deliver__item {
  max-width: 350px;
  padding-top: 36px;
  text-align: center;
  background-image: url(../images/arrow-img.svg);
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: center top;
}

.deliver__top-text {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.deliver__person-name {
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79C8C7;
}

.deliver__bottom-text {
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  .deliver-section {
    padding: 100px 0;
  }
  .deliver__title-wrapper {
    max-width: 500px;
  }
  .deliver__title {
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .deliver__title--span {
    color: rgb(121, 200, 199);
  }
  .deliver__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
  .deliver__item {
    max-width: 573px;
  }
  .deliver__top-text {
    margin-bottom: 16px;
  }
  .deliver__bottom-text {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .deliver-section {
    padding: 140px 0;
  }
}
.ready-section {
  padding: 76px 0;
  background-color: #F67E7E;
  background-image: url(../images/ready-bgimg.png);
  background-repeat: no-repeat;
  background-size: 200px 122px;
  background-position: left bottom;
}

.ready {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin: 0 auto;
  max-width: 912px;
}

.ready__title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(1, 47, 52);
}

.ready__link {
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid rgb(1, 47, 52);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(1, 47, 52);
}
.ready__link:hover {
  background-color: rgb(1, 47, 52);
  color: white;
}

@media only screen and (max-width: 1220px) {
  .ready {
    max-width: 736px;
  }
}
@media only screen and (max-width: 1000px) {
  .ready-section {
    padding: 90px 0;
  }
  .ready {
    max-width: 573px;
  }
  .ready__title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(1, 47, 52);
  }
}
@media only screen and (max-width: 700px) {
  .ready-section {
    padding: 89px 0;
  }
  .ready {
    flex-direction: column;
    max-width: 327px;
    text-align: center;
  }
  .ready__title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(1, 47, 52);
  }
}
.site-footer {
  padding: 48px 0;
  background-color: #002529;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.footer__logo-address-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 125px;
}

.footer__logo-wrapper {
  width: 160px;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 25px;
}

.footer__page-links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.footer__link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  transition: all 0.3s linear;
}
.footer__link:hover {
  color: rgb(246, 126, 126);
}

.footer__address {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #99A8A9;
}

.footer__address > a {
  color: #99A8A9;
}

.footer___icon-wrapper {
  max-width: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 51px;
  flex-direction: column;
}

.footer__list-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-left: auto;
}

.footer__icon-link {
  color: white;
  transition: all 0.3s linear;
}
.footer__icon-link:hover {
  color: rgb(246, 126, 126);
}

.footer__icon-text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #99A8A9;
}

@media only screen and (max-width: 800px) {
  .site-footer {
    padding: 56px 0;
  }
  .footer {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0px;
    flex-direction: column;
  }
  .footer__logo-address-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    margin-bottom: 32px;
  }
  .footer__logo-wrapper {
    max-width: 107px;
  }
  .footer__logo-link {
    margin-bottom: 53px;
  }
  .footer__logo-img {
    width: 96px;
    height: 24px;
  }
  .footer__page-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }
  .footer__link {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: white;
  }
  .footer__address {
    text-align: right;
  }
  .footer___icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
    max-width: 100%;
  }
  .footer__list-icon {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .site-footer {
    padding: 65px 0;
  }
  .footer {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0px;
    flex-direction: column;
    text-align: center;
  }
  .footer__logo-address-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .footer__logo-wrapper {
    max-width: 107px;
    margin-bottom: 24px;
  }
  .footer__logo-link {
    margin-bottom: 24px;
  }
  .footer__address {
    text-align: center;
  }
  .footer___icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    flex-direction: column;
  }
}
.about-hero {
  padding-bottom: 120px;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: bottom right;
}

.about {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 0px;
}

.about__title {
  margin-bottom: 0px;
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  color: white;
  margin-right: 50px;
}

.about__text-wrapper {
  max-width: 730px;
  width: 100%;
}

.about__text-line {
  display: inline-block;
  margin-bottom: 79px;
  width: 50px;
  height: 4px;
  background-color: rgb(246, 126, 126);
}

.about__text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .about-hero {
    padding: 112px 0;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: column;
  }
  .about__title {
    margin-bottom: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: white;
    margin-bottom: 24px;
  }
  .about__text-line {
    display: none;
  }
  .about__text-wrapper {
    max-width: 457px;
    margin: 0 auto;
  }
  .about__text {
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
  }
}
@media only screen and (max-width: 500px) {
  .about-hero {
    padding: 108px 80px;
    background-position: right 369px;
  }
  .about__title {
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
    margin-bottom: 16px;
  }
  .about__text-wrapper {
    max-width: 327px;
    margin: 0 auto;
  }
}
.director-section {
  padding: 140px 0;
  background-color: #004047;
  background-image: url(../images/durector-top-bg.png), url(../images/director-btmbg.png);
  background-repeat: no-repeat;
  background-size: 100px 200px, 147px 100px;
  background-position: top left, right bottom;
}

.director__title {
  margin-bottom: 64px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  text-align: center;
}

.director__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.director__item {
  max-width: 350px;
  padding: 32px 24px 56px;
  background-color: #012F34;
  position: relative;
}

.director__content-wrapper {
  width: 302px;
  text-align: center;
}

.director__icon-img {
  margin-bottom: 16px;
}

.director__name {
  display: block;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79C8C7;
}

.director__text {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.director__info-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -28px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgb(246, 126, 126);
  padding: 20px;
  transition: all 0.3s linear;
}
.director__info-wrapper:hover {
  background-color: #79C8C7;
}

.director__item-info {
  max-width: 350px;
  padding: 58px 48px 64px;
  background-color: #002529;
  position: relative;
}

.director__info-content-wrapper {
  text-align: center;
  max-width: 254px;
}

.director__content-name {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79C8C7;
}

.director__info-text {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.director__content-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin: 0 97px;
}

.director__icon-link {
  color: white;
  transition: all 0.3s linear;
}
.director__icon-link:hover {
  color: rgb(246, 126, 126);
}

.director__info-wrapper-outer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -28px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #79C8C7;
  padding: 20px;
  transition: all 0.3s linear;
}
.director__info-wrapper-outer:hover {
  background-color: rgb(246, 126, 126);
}

@media only screen and (max-width: 800px) {
  .director-section {
    padding: 100px 0 128px;
  }
  .director__title {
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .director__list {
    justify-content: center;
  }
  .director__item {
    max-width: 281px;
  }
  .director__content-wrapper {
    max-width: 233px;
  }
  .director__item-info {
    max-width: 281px;
    padding: 58px 23px 64px;
  }
}
@media only screen and (max-width: 500px) {
  .director-section {
    padding: 88px 0 116px;
    background-position-y: -100px, bottom;
  }
  .director__item {
    max-width: 327px;
  }
  .director__content-wrapper {
    max-width: 279px;
  }
  .director__item-info {
    max-width: 327px;
    padding: 58px 46px 64px;
  }
}
.client-section {
  padding: 140px 0;
  background-color: #012F34;
  background-image: url(../images/clients-bg.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: top left;
}

.client__title {
  margin-bottom: 64px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  text-align: center;
}

.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

@media only screen and (max-width: 900px) {
  .client-section {
    padding: 100px 0;
    background-position-y: -100px;
  }
  .client__title {
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .client__img-first {
    width: 103px;
    height: 17px;
  }
  .client__img-second {
    width: 114px;
    height: 14px;
  }
  .client__img-third {
    width: 112px;
    height: 17px;
  }
  .client__img-fourth {
    width: 103px;
    height: 17px;
  }
  .client__img-fifth {
    width: 61px;
    height: 28px;
  }
}
@media only screen and (max-width: 600px) {
  .client-section {
    padding: 88px 0;
    background-position: -100px -100px;
  }
  .client__title {
    margin-bottom: 64px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .client__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
    flex-direction: column;
  }
  .client__img-first {
    width: 146px;
    height: 24px;
  }
  .client__img-second {
    width: 162px;
    height: 20px;
  }
  .client__img-third {
    width: 159px;
    height: 24px;
  }
  .client__img-fourth {
    width: 146px;
    height: 24px;
  }
  .client__img-fifth {
    width: 86px;
    height: 40px;
  }
}/*# sourceMappingURL=main.css.map */